<!DOCTYPE html>
<html>
<head>
	<title>Geek Bookmarks</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<style type="text/css">
		#root {
			width: 500px;
		}

		li.folder {
			/*display: none;*/
		}
		li.folder  > span{
			/*display: none;*/
		}

		li.folder > span {
			font-weight: bold;
		}

		ul  {
			/*padding: 0px;*/
			margin: 0px;
		}

		span {
			border-color: #ddd;
					    
		    border-width: 1px 1px 0 1px;
		    border-style: solid;

		    display: inline-block;
		    width: 100%;
		    padding: 5px;
		}

		li.folder > span {
			background-color: #eee;
		}
	</style>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/underscore.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/jquery-bootstrap-tree.js"></script>
	<script type="text/javascript">

		function setPadding($ul, level){
			$ul.children('li').children('span').css('padding-left', 15 * (level) + 'px');
			var childUls = $ul.children('li').children('ul');
			for(var i = 0; i  < childUls.length; i++){
				var childUl = $(childUls[i]);
				setPadding(childUl, level + 1);
			}
			// (function(level){
			// 	$ul.find('li').children('ul').each(function(i, ul){
			// 		setPadding($(ul), level + 1);
			// 	});	
			// })(level);
			
		}
		var data = [];
		$(function(){
			$('#root').children('ul').each(function(i, ul){
				setPadding($(ul), 0);
			})
			//$("#root").find(".folder > *").show();
			// $(".folder-label").click(function(){
			// 	$(this).siblings().toggle(400);
			// });

			// $(".remove").click(function(){
			// 	return confirm("Are you shure?");
			// });
			// $(".folder-label").hover(function(){
			// 	$(this).siblings().filter(".remove").toggle();
			// })

			
		});


	</script>
</head>
<body>
	<h3>Folders</h3>
	<div id="root" class="list-tree folder">
		<!-- <div class="list-tree"></div> -->
		<%= erb :attachments, :locals => {:attachments => root_folders} %>
	</div>
</body>
</html>