<!DOCTYPE html>
<html>
<head>
	<title>Geek Bookmarks<% if selected_folder %>: <%=selected_folder.name%><% end %></title>
	
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<style type="text/css">
		#root {
			width: 200px;
		}

		.list-tree  li.folder {
			/*display: none;*/
		}
		.list-tree  li.folder  > span{
			/*display: none;*/
			/*cursor: pointer;*/
		}

		.list-tree  li.folder > span {
			font-weight: bold;
		}

		.list-tree  ul  {
			/*padding: 0px;*/
			margin: 0px;
		}

		.list-tree span {
			border-color: #ddd;
					    
		    border-width: 1px 1px 0 1px;
		    border-style: solid;
		    border-radius: 5px;
		    display: inline-block;
		    width: 100%;
		    padding: 5px;
		}
		.list-tree li.folder > span > a {
			color: black;
		}
		.list-tree li.folder > span {
			background-color: #eee;
			cursor: pointer;
		}
		html, body {
		    height: 100%;
		}

		.list-tree li {
			padding-left: 15px;
		}
		/*html {
		    display: table;
		    margin: auto;
		}

		body {

		    display: table-cell;
		    /*vertical-align: middle;*/
		}    */

		h3 {
			text-align: center;
		}

		.list-tree li {
			display: none;
		}

		.list-tree   ul > li {
			display: block;
		}

	</style>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/underscore.js"></script>
	<script type="text/javascript" src="/js/sprintf.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/jquery-bootstrap-tree.js"></script>
	<script type="text/javascript">
		var width = 200;
		var selectedFolderId = -1;
		function setPadding($ul, level){
			$ul.children('li').children('span').css('width', (width-15 * (level)) + 'px');
			var childUls = $ul.children('li').children('ul');
			for(var i = 0; i  < childUls.length; i++){
				var childUl = $(childUls[i]);
				setPadding(childUl, level + 1);
			}
			// (function(level){
			// 	$ul.find('li').children('ul').each(function(i, ul){
			// 		setPadding($(ul), level + 1);
			// 	});	
			// })(level);
			
		}
		var apiRoot = "http://lilacpenguin.me:4567/api/";

		function loadFolderContents(folderId){
			selectedFolderId = folderId;
			$.getJSON(apiRoot+'folder/content/'+folderId, function(data){
				if(data.folder.id != selectedFolderId)
					return;
				
				var bookmarksRoot = $("#bookmarks");
				bookmarksRoot.empty();
				_.each(data.bookmarks, function(bookmark){
					console.log(bookmark);
					bookmarksRoot.append(sprintf("<li><a href='%(url)s'>%(name)s</a></li>", bookmark));
				});

				var notesRoot = $("#notes");
				notesRoot.empty();
				_.each(data.notes, function(note){
					console.log(note);
					notesRoot.append(sprintf("<li>%(body)s</li>", note));
				});

				var todosRoot = $("#todos");
				todosRoot.empty();
				_.each(data.todos, function(todo){
					console.log(todo);
					todosRoot.append(sprintf("<li> <input type=\"checkbox\">%(name)s</li>", todo));
				})
			});
		}

		function selectFolder(folder){
			$('.folder').children('span').css('background-color', '#eee');
			folder.children('span').css('background-color', '#ddd');
			$("#path").text(folder.attr('data-path'));

		}
		var data = [];
		$(function(){
			$('#root').children('ul').each(function(i, ul){
				setPadding($(ul), 1);
			})

			$('li.folder').click(function(){
				// $(this).children('ul').children().toggle(300);
				selectFolder($(this));
				var id = $(this).attr('data-id');
				loadFolderContents(id);
				return false;
			});

			//$("#root").find(".folder > *").show();
			// $(".folder-label").click(function(){
			// 	$(this).siblings().toggle(400);
			// });

			// $(".remove").click(function(){
			// 	return confirm("Are you shure?");
			// });
			// $(".folder-label").hover(function(){
			// 	$(this).siblings().filter(".remove").toggle();
			// })

			
		});


	</script>
</head>
<body>

	<div class="row">
		<div class="span3">
			<% if selected_folder %>
				<h3><%=selected_folder.name%></h3>
			<% else %>
							<h3 id="path">root</h3>
			<% end %>
			<div id="root" class="list-tree folder">
				<!-- <div class="list-tree"></div> -->
				<%= erb :folders, :locals => {:attachments => root_folders, :path => 'root'} %>
			</div>
		</div>
		<div class="span4">

			<h3>Bookmarks</h3>
			<ul id="bookmarks"></ul>
		</div>
		<div class="span3">
			<h3>Notes</h3>
			<ul id="notes" ></ul>
		</div>
		<div class="span3">
			<h3>Todos</h3>
			<ul id="todos" ></ul>
		</div>
	</div>
</body>
</html>